<div class="w-screen h-screen flex bg-[#1C2127] justify-between">
  <div class="flex flex-col h-1/2 justify-center p-16">
    <div class="text-4xl font-semibold font-serif text-white">You are not authorized.</div>
    <div class="text-xl font-serif text-white">You tried to access a page you did not have prior authorization for.
    </div>
    <a class="pt-5 flex items-center gap-3 text-xl font-serif text-red-500" routerLink="/">
      <svg fill="#b80000" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" transform="matrix(-1, 0, 0, 1, 0, 0)"
        width="28" height="28"
      >
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
        <g id="SVGRepo_iconCarrier">
          <path
            d="M12.207 9H5V7h7.136L11.05 5.914 12.464 4.5 16 8.036l-3.536 3.535-1.414-1.414L12.207 9zM10 4H8V2H2v12h6v-2h2v4H0V0h10v4z"
            fill-rule="evenodd"></path>
        </g>
      </svg>
      Return to home page
    </a>
  </div>
  <div class="flex flex-col p-16">
    <div class="neon">403</div>
    <div class="door-frame">
      <div class="door">
        <div class="rectangle">
        </div>
        <div class="handle">
        </div>
        <div class="window">
          <div class="eye">
          </div>
          <div class="eye eye2">
          </div>
          <div class="leaf">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
