<div role="dialog" aria-modal="true" class="relative z-10" [ngClass]="{'hidden': !show, 'block': show}">
  <div aria-hidden="true" class="fixed inset-0 bg-gray-500/75 transition-opacity"></div>
  <div class="fixed inset-0 z-10 w-screen overflow-hidden" (click)="dismiss()">
    <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
      <div
        class="relative transform rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg"
        (click)="$event.stopPropagation()"
      >
        <div class="relative bg-white max-h-[70vh] px-4 pt-5 pb-4 sm:p-6 sm:pb-4 rounded-2xl">
          <button type="button" class="absolute right-4 top-4" (click)="dismiss()">
            <img src="/close.png" class="w-3 h-3"/>
          </button>
          <ng-content></ng-content>
        </div>
        <div class="bg-gray-200 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6 rounded-b-lg justify-center">
          <button type="submit"
                  form="modalForm"
                  class="inline-flex w-full justify-center rounded-md bg-green-600 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-green-500 sm:ml-3 sm:w-auto">
            Confirm
          </button>
          <button type="button" (click)="dismiss()"
                  class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-xs ring-1 ring-gray-300 ring-inset hover:bg-gray-50 sm:mt-0 sm:w-auto">
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
