/* styles.css / global.scss */
/*@import "@ionic/angular/css/core.css";*/
/*!*@import "@ionic/angular/css/normalize.css";*!*/
/*@import "@ionic/angular/css/structure.css";*/
/*@import "@ionic/angular/css/typography.css";*/

/* optional helpers */
/*@import "@ionic/angular/css/display.css";*/

@import "tailwindcss";

@source "./src/**/*.{html,ts}";

@layer components {
  .sideBar {
    @apply
      /* Display */
    flex
    flex-col

      /* Sizing */
    h-full
    w-1/12

      /* Positioning */
    justify-center
    items-center

      /* Styling */
    shadow-xl
    bg-red-800

      /* Animation */
    transition-all
    duration-500
    ease-in-out
  }

  .sandwich {
    @apply
      /* Display */
    flex
    opacity-100

      /* Positioning */
    pt-10
    justify-center

      /* Animation */
    transition-all
    duration-500
    ease-in-out
  }

  @media (min-height: 400px) and (min-width: 640px) {
    .sandwich {
      @apply
      opacity-0
      pt-0
    }
  }

  .initials {
    @apply
      /* Display */
    flex
    opacity-100

      /* Sizing */
    h-1/10
    w-1/2

      /* Positioning */
    justify-center
    items-center

      /* Styling */
    bg-white
    shadow-2xl
    shadow-black
    rounded-lg
    font-semibold

      /* Animation */
    transition-all
    duration-500
    ease-in-out
  }

  @media (max-height: 400px), (max-width: 640px) {
    .initials {
      @apply
      opacity-0
    }
  }

  .anchorContainer {
    @apply
      /* Display */
    flex
    flex-col
    gap-5
    opacity-100

      /* Sizing */
    h-full

      /* Positioning */
    justify-center
    items-center

      /* Animation */
    transition-all
    duration-500
    ease-in-out
  }

  @media (max-height: 400px), (max-width: 640px) {
    .anchorContainer {
      @apply
      opacity-0
    }
  }

  .anchor {
    @apply
      /* Display */
    flex
    flex-col
    gap-2

      /* Positioning */
    justify-center
    items-center
  }

  .anchorImg {
    @apply
      /* Sizing */
    w-5
    h-5
    md:w-7
    md:h-7

      /* Animation */
    transition-all
    duration-500
    ease-in-out
  }

  .anchorText {
    @apply
      /* Positioning */
    px-2

      /* Styling */
    rounded-2xl
    bg-transparent
    text-white
    md:bg-gray-100/50
    md:text-black
    sm:text-xs

      /* Animation */
    transition-all
    duration-500
    ease-in-out
  }

  .logoutBtn {
    @apply
      /* Display */
    flex
    flex-col
    gap-2
    opacity-100


      /* Positioning */
    justify-center
    items-center
    pb-5

      /* Animation */
    transition-all
    duration-500
    ease-in-out
  }

  @media (max-height: 400px), (max-width: 640px) {
    .logoutBtn {
      @apply
      opacity-0
    }
  }

  .navbar {
    @apply
      /* Display */
    flex
    h-1/12

      /* Positioning */
    justify-between
    items-center
    px-8

      /* Styling */
    shadow-xl
    bg-white

      /* Animation */
    transition-all
    duration-500
    ease-in-out
  }

  @media (max-height: 620px) {
    .navbar {
      @apply
      h-1/6
    }
  }

  .main {
    @apply
    flex
    flex-col
    h-11/12
    overflow-auto
  }

  @media (max-height: 620px) {
    .main {
      @apply
      h-5/6
    }
  }

  .clip-diagonal {
    clip-path: polygon(0 0, 100% 0, 100% 30%, 0% 50%);
  }

  .clip-diagonal2 {
    clip-path: polygon(0 0, 100% 0, 100% 30%, 0% 60%);
  }

  /*************************************************** REPORTS ***********************************************/
  .listHeader {
    @apply
    px-5
    flex
    justify-between
    items-center
    w-full
    bg-red-800
    text-white
    rounded-t-3xl
    shadow-lg
  }

  .toggleListGridDisplay {
    @apply
    p-0.5
    md:p-1
    rounded-lg
    flex
    justify-center
    items-center
    w-1/2
  }

  .transitions {
    @apply
    transition-all
    duration-500
    ease-in-out
  }

  .transformations {
    @apply
    hover:-translate-y-1
    hover:scale-110
    transition-all
    duration-500
    ease-in-out
  }

  .badge {
    @apply
    inline-flex
    items-center
    rounded-md
    px-2
    py-1
    text-xs
    font-medium
    text-gray-600
    ring-1
    ring-gray-500/10
    ring-inset
    shadow-xl/10
  }

  .customInput {
    @apply
    w-full
    p-5
    shadow-xl
    shadow-gray-400/10
    bg-white
    ring-2
    ring-gray-400/15
    outline-none
    focus:ring-gray-500/25
    focus:shadow-gray-500/10
    placeholder-gray-400
  }

  .disabledCustomInput {
    @apply
    w-full
    p-5
    shadow-xl
    shadow-gray-400/10
    bg-gray-200
    ring-2
    ring-gray-400/25
    outline-none
    placeholder-gray-500
  }
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mdc-checkbox__background {
  border-radius: 4px !important;
  box-shadow: 2px 2px !important;
}

.mdc-checkbox__native-control:enabled:checked ~ .mdc-checkbox__background, .mdc-checkbox__native-control:enabled:indeterminate ~ .mdc-checkbox__background {
  background-color: oklch(44.4% 0.177 26.899) !important;
  border-color: oklch(44.4% 0.177 26.899) !important;
}

.mdc-checkbox__checkmark-path {
  stroke: white !important;
}

.mdc-checkbox__mixedmark {
  border-color: white !important;
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

/*.no-scrollbar {*/
/*  -ms-overflow-style: none;  !* IE and Edge *!*/
/*  scrollbar-width: none;     !* Firefox *!*/
/*}*/
